<!--
# _________________________________________________
#
# Cloud BNG/ Cisco Subscriber Edge Demo Portal
#
# Author: Gurpreet Dhaliwal, TME MiG
#__________________________________________________
-->


<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
        <cdl
                xmlns="http://cisco.com/cisco-smi-cdl">
                <node-type>session</node-type>
                <logging>
                        <default-log-level>error</default-log-level>
                </logging>
                <datastore>
                        <name>session</name>
                        <slice-names>1</slice-names>
                        <endpoint>
                                <replica>1</replica>
                                <settings>
                                        <slot-timeout-ms>750</slot-timeout-ms>
                                </settings>
                        </endpoint>
                        <index>
                                <replica>1</replica>
                                <map>1</map>
                                <write-factor>1</write-factor>
                        </index>
                        <slot>
                                <replica>1</replica>
                                <map>1</map>
                                <write-factor>1</write-factor>
                                <notification>
                                        <limit>300</limit>
                                </notification>
                        </slot>
                </datastore>
                <zookeeper>
                        <replica>1</replica>
                </zookeeper>
                <kafka>
                        <replica>1</replica>
                </kafka>
        </cdl>
        <system
                xmlns="http://tail-f.com/cisco-mobile-ops">
                <mode>running</mode>
        </system>
        <instance
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <instance-id>
                        <id>1</id>
                        <endpoint>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:sm
                                        </eptype>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:nodemgr
                                        </eptype>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:n4-protocol
                                        </eptype>
                                        <retransmission
                                                xmlns="http://cisco.com/ns/yang/cnbng-cp">
                                                <timeout>0</timeout>
                                                <max-retry>0</max-retry>
                                        </retransmission>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:dhcp
                                        </eptype>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:pppoe
                                        </eptype>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:radius
                                        </eptype>
                                        <vip>
                                                <vip-ip>{{cnbng_cp.node.ip}}</vip-ip>
                                        </vip>
                                        <interface>
                                                <interface-type
                                                        xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:coa-nas
                                                </interface-type>
                                                <sla>
                                                        <response>140000</response>
                                                </sla>
                                                <vip>
                                                        <vip-ip>{{cnbng_cp.node.ip}}</vip-ip>
                                                        <vip-port>2000</vip-port>
                                                </vip>
                                        </interface>
                                </ep>
                                <ep>
                                        <eptype
                                                xmlns:cnbng-cp="http://cisco.com/ns/yang/cnbng-cp">cnbng-cp:udp-proxy
                                        </eptype>
                                        <vip>
                                                <vip-ip>{{cnbng_cp.node.ip}}</vip-ip>
                                        </vip>
                                </ep>
                        </endpoint>
                </instance-id>
        </instance>
        <logging
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <transaction>
                        <duplicate>enable</duplicate>
                </transaction>
                <level>
                        <application>debug</application>
                        <transaction>debug</transaction>
                        <tracing>debug</tracing>
                </level>
                <logger>
                        <name>bng-dhcp0.bngfsol.collision</name>
                        <level>
                                <application>info</application>
                                <transaction>info</transaction>
                        </level>
                </logger>
                <logger>
                        <name>infra.application.core</name>
                        <level>
                                <application>warn</application>
                        </level>
                </logger>
                <logger>
                        <name>infra.config.core</name>
                        <level>
                                <application>trace</application>
                                <transaction>trace</transaction>
                                <tracing>off</tracing>
                        </level>
                </logger>
                <logger>
                        <name>infra.message_log.core</name>
                        <level>
                                <transaction>trace</transaction>
                        </level>
                </logger>
        </logging>
        <deployment
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <app-name>BNG</app-name>
                <cluster-name>{{cnbng_cp.cluster.name}}</cluster-name>
                <dc-name>DC</dc-name>
                <model>small</model>
        </deployment>
        <k8
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <bng
                        xmlns="http://cisco.com/ns/yang/cnbng-cp">
                        <etcd-endpoint>etcd:2379</etcd-endpoint>
                        <datastore-endpoint>datastore-ep-session:8882</datastore-endpoint>
                        <tracing>
                                <enable/>
                                <enable-trace-percent>30</enable-trace-percent>
                                <append-messages>true</append-messages>
                                <endpoint>jaeger-collector:9411</endpoint>
                        </tracing>
                </bng>
        </k8>
        <instances
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <instance>
                        <instance-id>1</instance-id>
                        <system-id>DC</system-id>
                        <cluster-id>{{cnbng_cp.cluster.name}}</cluster-id>
                        <slice-name>1</slice-name>
                </instance>
        </instances>
        <local-instance
                xmlns="http://tail-f.com/cisco-mobile-infra">
                <instance>1</instance>
        </local-instance>
</config>